body {
    font-family: sans-serif;
    color: #fff;
}

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Scrollbar design */
/*width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
/*handle*/
::-webkit-scrollbar-track{
    background: #6c6666;
}

/*Handle on hover */
::-webkit-scrollbar-thumb{
    background: #e44747;
}

/*Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: #2b2525;
}

.world-map{
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    min-height: 30em;
    background-color: #151218;
    display: flex;
    justify-self: center;
    align-items: center;
}

svg{
    width: 100vw;
    height: 100vh;
}

path{
    fill: #151218;
    stroke: #000;
    transition: 100ms;
}

path:hover{
    fill: #c99aff;}

.side-panel{
    position: fixed;
    background-color: #1d1a20;
    padding: 2em;
    top: 0;
    left: 0em;
    width: 100%;
    max-width: 30em;
    height: 100vh;
    transition:
        600ms cubic-bezier(0.77, 0, 0.18, 1);
    overflow: scroll;
    z-index: 1;
}

.side-panel .container{
    padding-block: 2em;
    transition: 200ms ease-out;
}

/*dynamic classes for javascript*/
.close-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 5em;
    height: 5em;
    border: none;
    background-color: #443d4b;
    color: #fff;
    transition: 100ms;
    cursor: pointer;
}

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: 200ms;
}

.close-btn i{
    font-size: 2em;
}

.close-btn:hover{
    background-color: #c99aff;
}

.country-flag{
    width: 60%;
    max-width: 20em;
    margin-block: 1em;
}

.side-panel .container > ul > li{
    margin-bottom:2em;
}

.side-panel li{
    margin-bottom: 1em;
    font-size: 1.2em;
}

.side-panel ul ul {
    margin-top: 1em;
    font-size: 0.7em;
    list-style: circle;
    padding-left: 2em;
  }
  
  .side-panel strong {
    color: #dcbfff;
  }
  
  .zoom-controls {
    position: fixed;
    top: 1em;
    right: 1em;
  }
  
  .zoom-controls button {
    display: block;
    width: 1.5em;
    height: 1.5em;
    font-size: 2em;
    background-color: #443d4b;
    color: #fff;
    border: 1px #dcbfff solid;
    cursor: pointer;
  }
  
  .zoom-controls button:hover {
    background-color: #2e2a33;
  }
  
  /*Disabled button styling*/
  button:disabled {
    background-color: #1d1a20;
    border: 1px #443d4b solid;
    cursor: default;
    color: #333;
  }
  
  .zoom-out {
    margin-bottom: 10px;
  }
